<h4 *ngIf="(authService.currentUser | async)">Welcome {{ authService.currentUser.value.name }} <i class="fa fa-smile-o"></i></h4>
<br>
<p>
  Here are some awesome books!
</p>
<app-loader [loadingState]=loading></app-loader>

<div *ngIf="books">

  <p *ngIf="books === undefined || books.length == 0 && !loading">No record found!</p>

  <div class="row">
    <a *ngFor="let book of books" routerLink="/books/{{book.id}}">
      <div class="col-md-3">
        <img class="img-responsive book" [src]="book.book_img.medium" alt="book image">
      </div>
    </a>
  </div>

</div>

