<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Book Review</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a materialize="dropdown"
           class='dropdown-button text-muted'
           href='javascript:void(0)'
           data-activates='dropdown1'>Category<i style="margin-left: 7px;" class="fa fa-angle-down"></i></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li *ngFor="let category of categories">
            <a href="javascript:void(0)"
               [routerLink]=""
               [queryParams]="{ 'category': category.name }"
               [ngClass]="{'active': category.isSelected}"
               (click)="categoryChange(category)">{{ category.name }}
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              [ngClass]="{'active': isAllSelected}"
              (click)="resetFilter()">All
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="(authService.userSignedIn | async)"><a class="text-muted" routerLink="books/new">Add Book</a></li>&nbsp;&nbsp;
      <li *ngIf="!(authService.userSignedIn | async)"><a (click)="presentAuthDialog('login')" class="text-muted" href="javascript:void(0)">Login</a></li>&nbsp;&nbsp;
      <li *ngIf="(authService.userSignedIn | async)"><a (click)="logOut()" class="text-muted" href="javascript:void(0)">Logout</a></li>&nbsp;&nbsp;
      <li *ngIf="!(authService.userSignedIn | async)"><a (click)="presentAuthDialog('register')" class="text-muted" href="javascript:void(0)">Register</a></li>
    </ul>
  </div>
</nav>
<app-auth-dialog #authDialog></app-auth-dialog>
