<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h3>Reset Password</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s5 m5">
      <ng-container
        *ngIf="isResetForm; then resetPassword; else changePassword">
      </ng-container>
      <ng-template #resetPassword>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetForm()">
          <div class="input-field">
            <input id="user-email"
                   type="email"
                   formControlName="email"
                   class="validate">
            <label for="user-email">Email</label>
            <div *ngFor="let validation of validationMessages.email">
              <small style="color:red"
                     *ngIf="resetPasswordForm.get('email').hasError(validation.type)
                      && (resetPasswordForm.get('email').dirty
                      || resetPasswordForm.get('email').touched)"
              >{{validation.message}}
              </small>
            </div>
          </div>
          <button class="btn" [disabled]="!resetPasswordForm.valid || loading" type="submit">
            Submit
          </button>
        </form>
      </ng-template>
      <ng-template #changePassword>
        <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
          <div class="input-field">
            <input id="user-password"
                   type="password"
                   formControlName="password"
                   class="validate">
            <label for="user-password">New Password</label>
            <div *ngFor="let validation of validationMessages.password">
              <small style="color:red"
                     *ngIf="changePasswordForm.get('password').hasError(validation.type)
                      && (changePasswordForm.get('password').dirty
                      || changePasswordForm.get('password').touched)"
              >{{validation.message}}
              </small>
            </div>
          </div>
          <div class="input-field">
            <input id="confirm-password"
                   type="password"
                   formControlName="passwordConfirmation"
                   class="validate">
            <label for="confirm-password">Confirm Password</label>
            <div *ngFor="let validation of validationMessages.confirm_password">
              <small style="color:red"
                     *ngIf="changePasswordForm.get('passwordConfirmation').hasError(validation.type)
                      && (changePasswordForm.get('passwordConfirmation').dirty
                      || changePasswordForm.get('passwordConfirmation').touched)"
              >{{validation.message}}
              </small>
            </div>
          </div>
          <button class="btn" [disabled]="!changePasswordForm.valid || loading" type="submit">
            Submit
          </button>
        </form>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col s6 m4 offset-m1">
      <app-loader [loadingState]="loading"></app-loader>
    </div>
  </div>

  <div class="row">
    <div id="reset-password-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="resetPasswordModal">
      <div class="modal-content">
        <h4>Reset Password Instruction</h4>
        <p>{{resetPasswordInstruction}}</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat" (click)="closeResetPasswordModal()">OK</a>
      </div>
    </div>
  </div>
</div>
