.back-icon {
  font-size: 30px;
}

.btn-space {
  margin-left: 10px;
}

.book-show {
  height: 340px;
  width: 328px;
}

.loader-align-right {
  margin-left: 36px;
}

.modal {
  width: 33% !important;
  height: 30% !important;
}
