<!--<i class="fa fa-arrow-left back-icon" (click)="goBack()"></i>-->

<div *ngIf="book && !edit" class="row">

  <div class="col-md-4">
    <img class="img-responsive book-show" [src]="book.book_img.original" alt="book image">
  </div>

  <div class="col-md-8">
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>
    <p>{{ book.description }}</p>
  </div>

</div>

<div *ngIf="edit && book">
  <form [formGroup]="editBookForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input
          formControlName="title"
          [(ngModel)]="book.title"
          placeholder="Title"
          type="text"
        />
      </fieldset>
      <fieldset class="form-group">
        <input
          formControlName="author"
          [(ngModel)]="book.author"
          placeholder="Author"
          type="text" />
      </fieldset>
      <fieldset class="form-group">
        <input
          formControlName="description"
          placeholder="Description"
          [(ngModel)]="book.description"
          type="text" />
      </fieldset>
      <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!editBookForm.valid" type="submit">
        Submit
      </button>
    </fieldset>
  </form>
</div>

<div class="btn-toolbar row" *ngIf="!edit && book && (authService.currentUser | async) && authService.currentUser.value.id == book.user_id">

  <div class="col-md-12">

    <button type="button" class="btn btn-primary active" (click)="edit=true; isSubmitting = false">Edit</button>
    <button type="button" class="btn btn-danger active btn-space" (click)="deleteBook()">Delete</button>

  </div>

</div>
