<form [formGroup]="registerForm" (ngSubmit)="submitForm()">

<div>
    <div class="input-field col s12">
      <input id="email"
             type="email"
             formControlName="email"
             class="validate">
      <label for="email">Email</label>
    </div>

     <div class="input-field col s12">
      <input id="name"
           type="text"
           formControlName="name"
           class="validate">
      <label for="name">Name</label>
     </div>

    <div class="input-field col s12">
      <input id="password"
             type="password"
             formControlName="password"
             class="validate">
      <label for="password">Password</label>
    </div>


    <div class="input-field col s12">
      <input id="password_confirmation"
             type="password"
             formControlName="passwordConfirmation"
             class="validate">
      <label for="password_confirmation">Password confirmation</label>
    </div>


    <div class="col s12">

      <button type="submit"
              [disabled]="!registerForm.valid"
              class="waves-effect waves-light btn blue right">
        Sign up
      </button>

    </div>
</div>
</form>
